<agm-map [latitude]="lat" [longitude]="lng" [zoom]="4">
    <agm-marker *ngFor="let i of stops"
              [latitude]="i.latitude"
              [longitude]="i.longitude" [agmFitBounds]="true"
              [label]="{color: 'white', text: i.stopId + '-' + i.stopName}"></agm-marker>
    <agm-polyline [strokeColor]="'#07b57a'">
        <ng-container *ngFor="let i of stops">
            <agm-polyline-point [latitude]="i.latitude" [longitude]="i.longitude">
            </agm-polyline-point>
        </ng-container>
    </agm-polyline>
</agm-map>
