.table-title {
    display: flex;
    background-color: #ffc4c4;
    font-family: 'Adamina';
}

.ui-overlaypanel {
    background-color: cadetblue;
    height: 400px;
}

.heading {
    width: 60%;
    text-align: left;
}

.export-button {
    text-align: right;
    width: 40%;
    padding: 15px;
}